@model ICollection<Categoria>


<div class="container text-center">
    <h2>Lista de Categorias</h2>
    <hr>
    <a asp-controller="Categoria" asp-action="CrearCategorias" class="white-text btn btn-success">
        Crear
    </a>
</div>

<br />
@if (TempData["Mensaje"] != null)
{
<div class="alert alert-info alert-dismissible fade show" role="alert">
    @TempData["Mensaje"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>}

<br />


<div class="container">
    <table class="table table-striped table-responsive-lg ">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Categoria</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Modificar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var C in Model)
            {
                <tr>
                    <th scope="row">@C.CategoriaId</th>
                    <td>@C.Nombre</td>
                    <td>
                        <a asp-action="EditarCategorias" asp-route-CategoriaId="@C.CategoriaId" class="white-text btn btn-warning">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a asp-action="EliminarCategoria" class="btn btn-danger text-white" asp-route-CategoriaId="@C.CategoriaId">
                            Eliminar
                        </a>
                    </td>
                    

                </tr>
            }
        </tbody>
    </table>
</div>


