@model GIMNASIO.Models.Producto

@{
    ViewData["Title"] = "EliminarProducto";
}

<h3>¿Esta seguro de eliminar el producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoPrecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.EstadoNombre)
        </dd class>
    </dl>
    
    <form asp-action="EliminarProducto">
        <input type="hidden" asp-for="ProductoId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
    </form>

</div>
