@model IndexViewModel

<<div class="container text-center">
    <h2>Lista de Productos</h2>
    <hr>
    <a asp-controller="Producto" asp-action="CrearProducto" class="btn btn-success pb-2"><i class="fa-solid fa-plus"></i> Agregar</a>
</div>
<br />
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>}

<br />


<div class="row justify-content-between">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Categoria</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Modificar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var P in Model.ListaProductos)
            {
                <tr>
                    <th scope="row">
                        <img src="~/imagen/@P.imagen" width="30" />
                    </th>
                    <td>@P.ProductoNombre</td>
                    <td>@P.ProductoPrecio</td>
                    <td>@P.Estado.EstadoNombre</td>
                    <td>@P.Categoria.Nombre</td>
                    <td>
                        <a asp-action="EliminarProducto" asp-route-ProductoId="@P.ProductoId" class="white-text">
                            <i type="button" class="btn btn-danger">Eliminar</i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="ModificarProducto" asp-route-ProductoId="@P.ProductoId" class="white-text">
                            <i type="button" class="btn btn-primary">Modificar</i>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


<br />
<nav class="row justify-content-center" aria-label="Page navigation example">
    <div class="justify-content-center">
        <ul class="pagination">
            @if (Model.Pagina != 0 && Model.Pagina != 1)
            {
                <li class="page-item"><a class="page-link" asp-action="ListarProductos" asp-route-Page="@TempData["PreviousPage"]">Anterior</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">Anterior</a></li>
            }
            @for (int i = 1; i <= Model.CantidadPagina; i++)
            {
                <li class="page-item"><a class="page-link" asp-action="ListarProductos" asp-route-Page="@i">@i</a></li>
            }
            @if (Model.Pagina != Model.CantidadPagina)
            {
                <li class="page-item"><a class="page-link" asp-action="ListarProductos" asp-route-Page="@TempData["NextPage"]">Siguiente</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
            }
        </ul>
    </div>
</nav>
<br />
