@model MembresiaViewModel

<div class="container text-center">
    <h2>Membresia</h2>
    <hr>
    <a asp-controller="Membresia" asp-action="AgregarMembresia" asp-route-ClienteId="@Model.Id" class="btn btn-success pb-2"><i class="fa-solid fa-plus"></i> Agregar</a>
</div>
<br>

<table class="table table-striped">
    <thead class="text-center thead-dark">
        <tr>
            <td>id</td>
            <td>Fecha inicio</td>
            <td>Fecha termino</td>
            <td>Tipo</td>
            <td>Metodo de Pago</td>
            <td>Estado</td>
            <td colspan="2">Editar/Eliminar</td>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var M in Model.ListaMembresias)
        {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => M.MembresiaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => M.FechaComienzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => M.FechaTermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => M.TipoMembresia.TipoMembresiaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => M.MetodoPagoMembresia.MetodoPagoMembresiaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => M.EstadoMembresia.EstadoMembresiaNombre)
            </td>
            <td><a asp-action="ModificarMembresia" asp-route-Id="@M.MembresiaId" asp-route-ClienteId="@M.Cliente.Id" class="ml-4 btn btn-warning text-white"><i class="fa-solid fa-file-pen"></i></a></td>
            <td><a asp-action="EliminarMembresia" asp-route-Id="@M.MembresiaId" class="mr-4 btn btn-danger"><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>
        }
    </tbody>
</table>