@model MaquinariaViewModel

<div class="container text-center">
    <h2>Lista de Maquinaria</h2>
    <hr>
    <a asp-controller="Maquinaria" asp-action="CrearMaquinaria" class="btn btn-success pb-2"><i class="fa-solid fa-plus"></i> Agregar</a>
</div>
<br />

@if (TempData["Mensaje"] != null)
{
<div class="alert alert-info alert-dismissible fade show" role="alert">
    @TempData["Mensaje"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<br />

<div class="row justify-content-left">
    @switch ((int)TempData["Estado"])
    {
        case 1:
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="2"
       class="btn btn-danger btn-sm">
            Ver Inhabilitados
        </a>
        
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="3"
       class="btn btn-outline-warning btn-sm">
            Ver En Mantención
        </a>
        break;
        
        case 2:
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="1"
       class="btn btn-primary btn-sm">
            Ver Disponibles
        </a>

        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="3"
       class="btn btn-warning btn-sm">
            Ver En Mantención
        </a>
        break;

        case 3:
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="1"
       class="btn btn-primary btn-sm">
            Ver Disponibles
        </a>
        
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="2"
       class="btn btn-danger btn-sm">
            Ver Inhabilitados
        </a>
        break;
    }
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Máquina</th>
                <th scope="col">N° de Serie</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
                @if ((int)TempData["Estado"] != 2)
                { 
                    <th scope="col">Inhabilitar</th>
                }
                else if ((int)TempData["Estado"] != 3)
                {
                <th scope="col">Enviar a Mantención</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var M in Model.ListaMaquinaria)
            {
            <tr>
                <td>@M.MaquinariaNombre</td>
                <td>@M.MaquinariaNumeroSerie</td>
                <td>@M.TipoMaquinaria.TipoMaquinariaNombre</td>
                <td>@M.EstadoMaquinaria.EstadoMaquinariaNombre</td>
                <td>
                    <a asp-action="ModificarMaquinaria" asp-route-MaquinariaId="@M.MaquinariaId" class="btn btn-warning white-text">
                        Modificar
                    </a>
                </td>
                @if ((int)TempData["Estado"] != 2)
                {
                    <td>
                        <a asp-action="InhabilitarMaquinaria" asp-route-MaquinariaId="@M.MaquinariaId" class="btn btn-danger white-text">
                            Inhabilitar
                        </a>
                    </td>
                }
                else if ((int)TempData["Estado"] != 3)
                {
                    <td>
                            <a asp-controller="Mantencion" asp-action="AgregarMantencionPorMaquina" asp-route-MaquinaId="@M.MaquinariaId" class="btn btn-primary text-white">
                            Reparar
                        </a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
