@model MaquinariaViewModel

<div class="container text-center">
    <h2>Lista de Maquinaria</h2>
    <hr>
    <a asp-controller="Maquinaria" asp-action="CrearMaquinaria" class="btn btn-success pb-2"><i class="fa-solid fa-plus"></i> Agregar</a>
</div>
<br />

@if (TempData["Mensaje"] != null)
{
<div class="alert alert-info alert-dismissible fade show" role="alert">
    @TempData["Mensaje"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>}

<br />

<div class="row justify-content-left">
    @if ((int)TempData["Estado"] == 1)
    {
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="2"
       class="btn btn-outline-danger btn-sm">
            Ver Inhabilitados
        </a>
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="3"
       class="btn btn-outline-warning btn-sm">
            Ver En Mantención
        </a>
    }
    else if ((int)TempData["Estado"] == 2)
    {
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="1"
       class="btn btn-outline-primary btn-sm">
            Ver Disponibles
        </a>

        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="3"
       class="btn btn-outline-warning btn-sm">
            Ver En Mantención
        </a>
    }
    else if ((int)TempData["Estado"] == 3)
    {
        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="1"
       class="btn btn-outline-primary btn-sm">
            Ver Disponibles
        </a>

        <a asp-controller="Maquinaria"
       asp-action="ListaMaquinaria"
       asp-route-EstadoId="2"
       class="btn btn-outline-danger btn-sm">
            Ver Inhabilitados
        </a>
    }
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Maquina</th>
                <th scope="col">N° de Serie</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
                <th scope="col">Inhabilitar</th>
                <th scope="col">Enviar a Mantención</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var M in Model.ListaMaquinaria)
            {
            <tr>
                <td>@M.MaquinariaNombre</td>
                <td>@M.MaquinariaNumeroSerie</td>
                <td>@M.TipoMaquinaria.TipoMaquinariaNombre</td>
                <td>@M.EstadoMaquinaria.EstadoMaquinariaNombre</td>
                <td>
                    <a asp-action="" asp-route-MaquinariaId="@M.MaquinariaId" class="btn btn-warning white-text">
                        Modificar
                    </a>
                </td>
                <td>
                    <a asp-action="InhabilitarMaquinaria" asp-route-MaquinariaId="@M.MaquinariaId" class="btn btn-danger white-text">
                        Inhabilitar
                    </a>
                </td>
                <td>
                        <a asp-action="" asp-route-MaquinariaId="@M.MaquinariaId" class="btn btn-primary text-white">
                        Reparar
                    </a>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>

<br />
<nav class="row justify-content-center" aria-label="Page navigation example">
    <div class="justify-content-center">
        <ul class="pagination">
            @if (Model.Pagina != 0 && Model.Pagina != 1)
            {
            <li class="page-item"><a class="page-link" asp-action="ListarProductos" asp-route-Page="@TempData["PreviousPage"]">Anterior</a></li>
            }
            else
            {
            <li class="page-item disabled"><a class="page-link">Anterior</a></li>
            }
            @for (int i = 1; i <= Model.CantidadPagina; i++)
            {
            <li class="page-item"><a class="page-link" asp-action="ListarProductos" asp-route-Page="@i">@i</a></li>
            }
            @if (Model.Pagina != Model.CantidadPagina)
            {
            <li class="page-item"><a class="page-link" asp-action="ListarProductos" asp-route-Page="@TempData["NextPage"]">Siguiente</a></li>
            }
            else
            {
            <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
            }
        </ul>
    </div>
</nav>
<br />