
@model EntrenamientoViewModel

<div class="container">

    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["Mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="container text-center">
        <h2>Entrenamientos</h2>
        <hr>
    </div>

    <div class="row justify-content-between">



        <div class="col-md-3 mr-3 ml-3 mb-3">
            @foreach (var E in Model.ListarEntrenamiento)
            {

                <div class="card card-producto" style="width: 18rem;">
                    <div class="card-body">
                        <P class="card-text detalles-card-producto">ID: @E.EntrenamientoId</P>
                        <P class="card-text detalles-card-producto">Cupo Total: @E.EntrenamientoCupoTotal</P>
                        <P class="card-text detalles-card-producto">Cupo Disponible: @E.EntrenamientoCupoDisponible</P>
                        <P class="card-text detalles-card-producto">Cupo Descripcion: @E.EntrenamientoDescripcion</P>
                        <P class="card-text detalles-card-producto">Cupo Estado: @E.entrenamientoestado.Entrenamiento_NombreEstado</P>
                        <P class="card-text detalles-card-producto">Cupo Categoria: @E.entrenamientocategoria.EntrenamientoCategoria_Nombre</P>
                        <P class="card-text detalles-card-producto">Cupo Zona de entrenamiento: @E.entrenamientozona.EntrenamientoZona_Nombre</P>
                    </div>

                    <div class="row justify-content-around botones-productos">
                        <div class="col-4">
                            <a class="btn btn-success" asp-action="EntrenamiendoAnadir" asp-controller="EntrenamientoUsuario" asp-route-EntrenamientoId="@E.EntrenamientoId">
                                <i class="fa-solid fa-cart-arrow-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
