<div class="container">
    @model PedidoDetalleViewModel

    @{
        ViewData["Title"] = "Mis Pedidos";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="card card-cascade narrower view view-cascade gradient-card-header blue-gradient narrower py-2 mb-3 d-flex justify-content-between align-items-center">
        <h2 href="" class="white-text mx-3">Detalle Pedido</h2>
    </div>


    <div class="row justify-content-center  float-left">
        @foreach (var P in Model.ListaDetalle)
        {

            <div class="card mr-3 ml-3 mb-3" style="width: 18rem;">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Pedido: </strong>@P.Pedido.Cliente.Email</li>
                    </ul>
                </div>
            </div>
        }
    </div>

    <div class="card" style="width: 69rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Pedido: </strong>@Model.Pedido.PedidoId</li>
            <li class="list-group-item"><strong>Fecha: </strong>@Model.Pedido.PedidoFecha</li>
            <li class="list-group-item"><strong>Tipo de Pago: </strong>@Model.Pedido.MetodoPago.MetodoNombre</li>
            <li class="list-group-item"><strong>Estado: </strong>@Model.Pedido.PedidoEstado.PedidoEstadoNombre</li>
            <li class="list-group-item"><strong>Total: </strong>@string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", @Model.Pedido.PedidoTotal)</li>
        </ul>
    </div>
    <br />
    <table class="table table-striped">
        <thead style="background-color:#00ffff">
            <tr>
                <td>Codigo</td>
                <td>Producto</td>
                <td>Equipo</td>
                <td>Precio Unitario</td>
                <td>Cantidad</td>
                <td>Subtotal</td>
                <td>comprarlo nuevamente</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDetalle)
            {
                <tr>
                    <td>@item.PedidoId</td>
                    <td>@item.Producto.ProductoNombre</td>     
                    <td>@string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", item.Producto.ProductoPrecio)</td>
                    <td>@item.Cantidad</td>
                    <td>@string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", item.Cantidad * item.Producto.ProductoPrecio)</td>
                   
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="4">
                    <strong>Total: </strong>
                </td>
                <td class="text-left">
                    $ @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}",
Model.Pedido.PedidoTotal)
                </td>
            </tr>
        </tfoot>
    </table>
</div>