<div class="container">

    @model IndexViewModel

    <div class="container">
        <h2 class="text-center">Productos Disponibles</h2>
        <hr>
    </div>

    <div class="row justify-content-between">
        @foreach (var P in Model.ListaProductos)
        {

            <div class="card card-producto col-md-3 mr-3 ml-3 mb-3" style="width: 18rem;">
                <img src="~/imagen/@P.imagen" class="card-img-top" width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title">Nombre: @P.ProductoNombre</h5>
                    <p class="card-text detalles-card-producto">@P.ProductoDesc</p>
                    <p class="card-text text-center">
                        @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", P.ProductoPrecio)
                    </p>
                </div>

                <div class="row justify-content-around">
                    <div class="col-4">
                        <a class="btn btn-success" asp-action="Add" asp-controller="Carro" asp-route-ProductoId="@P.ProductoId">
                            <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Producto" asp-route-ProductoId="@P.ProductoId">
                            <i class="fa-solid fa-list"></i>
                        </a>

                    </div>
                </div>

            </div>
        }
    </div>
</div>
