<div class="container">
    @model ICollection<Producto>


    <div>
        @foreach (var P in Model)
        {
            <div class="card border border-0">
                <div class="row no-gutters">
                    <div class="col-md-7">
                        <img src="~/imagen/@P.imagen" class="card-img-top" height="350" width="300" alt="...">
                    </div>
                    <div class="col-md-5">
                        <div class="card-title">
                            <h5  class="card-title">@P.ProductoNombre</h5>
                            <p>Descripción: @P.ProductoDesc</p>
                            <p>Categoria: @P.Categoria.Nombre</p>
                            <p>
                                Precio:
                                @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", P.ProductoPrecio)
                            </p>
                            <p> <a asp-action="Add" asp-controller="Carro" asp-route-ProductoId="@P.ProductoId" class="btn btn-success">Agregar Al Carro</a></p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>