@using GIMNASIO.Models
@using Microsoft.AspNetCore.Identity
@inject AppDbContext _context
@inject SignInManager<Cliente> signInManager
@inject UserManager<Cliente> userManager
@inject AppDbContext _context

@model IndexViewModel

<div class="container">



    <div class="container text-center">
        <h2>Productos Disponibles</h2>
        <hr>
    </div>

    <form asp-action="Search" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <label asp-for="CategoriaId" class="control-label">Categorias</label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId">
                </select>
            </div>
            <div class="col-md-auto">
                <input type="submit" value="Buscar" style="margin-top: 30px" class="btn btn-info">

            </div>
        </div>
    </form>

    <br>

    <div class="row justify-content-between">
        @foreach (var P in Model.ListaProductos)
        {

            <div class="card card-producto col-md-3 mr-3 ml-3 mb-3" style="width: 18rem;">
                <img src="~/imagen/@P.imagen" class="card-img-top" width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title card-title-producto">Nombre: @P.ProductoNombre</h5>
                    <p class="card-text text-center">
                        @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", P.ProductoPrecio)
                    </p>
                </div>

                <div class="row justify-content-around botones-productos">
                    <!--control de roles para boton agregar al carro-->
                    @if (signInManager.IsSignedIn(User))
                    {
                        var Acceso = User.Claims.Where(x => x.Type == "Admin").FirstOrDefault();
                        if (Acceso != null)
                        {
                            <div class="col-4">
                                <a class="btn btn-success" asp-action="Add" asp-controller="Carro" asp-route-ProductoId="@P.ProductoId">
                                    <i class="fa-solid fa-cart-arrow-down"></i>
                                </a>
                            </div>

                        }
                    }
                    @if (signInManager.IsSignedIn(User))
                    {
                        var Acceso = User.Claims.Where(x => x.Type == "Entrenador").FirstOrDefault();
                        if (Acceso != null)
                        {
                            <div class="col-4">
                                <a class="btn btn-success" asp-action="Add" asp-controller="Carro" asp-route-ProductoId="@P.ProductoId">
                                    <i class="fa-solid fa-cart-arrow-down"></i>
                                </a>
                            </div>

                        }
                    }
                    <div class="col-4">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Producto" asp-route-ProductoId="@P.ProductoId">
                            <i class="fa-solid fa-list"></i>
                        </a>

                    </div>
                </div>

            </div>
        }
    </div>
</div>
